# Task 2

## Develop the following function:
  - **Function:** Given a DataFrame with the format of the TRAIN dataset, return a the following data: user identifier (`user_id`), session identifier (`session_id`), total session duration in seconds (`total_session_time`), and the percentage of products added to the cart out of the total products interacted with (`cart_addition_ratio`). The result should be sorted in ascending order by user identifier and then by session identifier.

In [8]:
import os
import sys

# root path
ROOT = os.path.abspath(os.path.join(os.getcwd(), '..'))

# Add the project root to the Python path
if ROOT not in sys.path:
    sys.path.append(ROOT)

import polars as pl
import pandas as pd
from config import TRAIN_PARQUET_PATH

In [9]:
train = pd.read_parquet(TRAIN_PARQUET_PATH)

In [10]:
ID = 179371

In [11]:
df = train[train['user_id'] == ID]
df.head()

,session_id,date,timestamp_local,add_to_cart,user_id,country,partnumber,device_type,pagetype
1927041,5047129,2024-06-11,2024-06-11 23:16:45.497,0,179371.0,25,13572,1,24.0
4859675,1135988,2024-06-07,2024-06-07 14:00:12.405,0,179371.0,25,13572,1,24.0
6182858,3928567,2024-06-02,2024-06-02 22:13:20.246,0,179371.0,25,13572,1,24.0
7132364,3875303,2024-06-05,2024-06-05 15:57:37.321,0,179371.0,25,13572,1,24.0
9325003,5097686,2024-06-04,2024-06-04 09:03:48.784,0,179371.0,25,13572,1,24.0

In [12]:
# def get_session_metrics(df: pd.DataFrame, user_id: int) -> pd.DataFrame:
#     """
#     Given a pandas DataFrame in the format of the train dataset and a user_id, return the following metrics for every session_id of the user:
#         - user_id (int) : the given user id.
#         - session_id (int) : the session id.
#         - total_session_time (float) : The time passed between the first and last interactions, in seconds. Rounded to the 2nd decimal.
#         - cart_addition_ratio (float) : Percentage of the added products out of the total products interacted with. Rounded to the 2nd decimal.

#     If there's no data for the given user, return an empty DataFrame preserving the expected columns.

#     Parameters
#     ----------
#     df : pandas DataFrame
#        DataFrame  of the data to be used for the agent.
#     user_id : int
#         Id of the client.

#     Returns
#     -------
#     Pandas Dataframe with some metrics for all the sessions of the given user.
#     """
#     # Filter data for the given user
#     user_df = df[df["user_id"] == user_id]
#     if user_df.empty:
#         return pd.DataFrame(
#             columns=["user_id", "session_id", "total_session_time", "cart_addition_ratio"]
#         )

#     # Ensure timestamp is in datetime format
#     if not pd.api.types.is_datetime64_any_dtype(user_df["timestamp_local"]):
#         user_df["timestamp_local"] = pd.to_datetime(user_df["timestamp_local"])

#     session_ids = user_df["session_id"].unique()
#     metrics = []

#     for session_id in session_ids:
#         session_df = user_df[user_df["session_id"] == session_id]
#         total_session_time = (session_df["timestamp_local"].max() - session_df["timestamp_local"].min()).total_seconds()
#         cart_addition_ratio = 100*(session_df["add_to_cart"].sum() / len(session_df)) if len(session_df) > 0 else 0.0
#         metrics.append(
#             {
#                 "user_id": user_id,
#                 "session_id": session_id,
#                 "total_session_time": round(total_session_time, 2),
#                 "cart_addition_ratio": round(cart_addition_ratio, 2),
#             }
#         )

#     return pd.DataFrame(metrics).sort_values(by=["user_id", "session_id"])

# result = get_session_metrics(df, ID)
# print(result)

In [14]:
from src.data.session_metrics import get_session_metrics

sample_data = pd.read_parquet(os.path.join(ROOT, "data/processed", "train.parquet"))
result = get_session_metrics(sample_data, ID)
result

    user_id  session_id  total_session_time  cart_addition_ratio
15   179371      159697                0.00                  0.0
12   179371      324039                0.00                  0.0
5    179371      547796                0.00                  0.0
8    179371      629439               99.99                  0.0
13   179371     1051346                0.00                  0.0
10   179371     1055223                0.00                  0.0
1    179371     1135988                0.00                  0.0
7    179371     1427485                0.00                  0.0
19   179371     1536166                0.00                  0.0
14   179371     1583844                0.00                  0.0
9    179371     1864199                0.00                  0.0
16   179371     2237487                0.00                  0.0
6    179371     2801202                0.00                  0.0
18   179371     3008443                0.00                  0.0
3    179371     3875303                0.00                  0.0
2    179371     3928567                0.00                  0.0
11   179371     4089464                0.00                  0.0
0    179371     5047129                0.00                  0.0
17   179371     5092772                0.00                  0.0
4    179371     5097686                0.00                  0.0